/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f5f9; /* light sky blue */
    display: flex;
    flex-direction: column;
    align-items: center; /* align items to the center */
    justify-content: flex-start; /* align items to the top */
    height: 100vh;
}

header {
    width: 100%;
}

#header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

h1 {
    font-size: 3em;
    color: #333;
    background: -webkit-linear-gradient(left, coral, cyan);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0.7px black;
}

#logout-button {
    color: #333; /* e-ink style */
    background: none; /* e-ink style */
    border: none; /* e-ink style */
    font-size: 1em;
    cursor: pointer;
}

#avatar-container {
    display: flex;
    justify-content: center;
    padding: 5px;
}

#avatar {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

button {
    background-color: #f9bc60; /* sunset orange */
    color: #033649; /* deep sea blue */
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 50px;
}

button:hover {
    background: linear-gradient(to right, #f9bc60, #f9a828); /* sunset gradient */
}

/* Home Screen Styles */
#home-screen {
    max-width: 600px;
    padding: 20px;
}

#home-screen #wibe-input {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 50px; /* make input field rounder */
    font-size: 1.1em; /* make text a bit larger */
}

#home-screen #wibe-feed {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

/* User Profile Styles */
#user-profile {
    max-width: 600px;
    padding: 20px;
    background-color: #f9f0a1; /* sand yellow */
    border-radius: 5px;
}

/* Larger screens */
@media (min-width: 768px) {
    body {
        padding: 20px;
    }

    #home-screen, #user-profile {
        width: auto;
    }
}

/* Wibe card style */
#home-screen .wibe-card {
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin: 10px 0;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#home-screen .wibe-card p {
    margin: 0;
    font-size: 0.9em;
    line-height: 1.4;
    color: #333;
}

#home-screen .wibe-card .timestamp {
    color: #777;
    margin-top: 5px;
    font-size: 0.8em;
}

.user-latest-wibe {
    background: #8ef580; /* soft blue */
    border: 1px solid #3e8e9d; /* darker shade of blue */
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1); /* subtle shadow for depth */
    transition: all 0.3s ease-in-out; /* transition for smooth animation */
}

.user-latest-wibe:hover {
    transform: scale(1.05); /* subtle grow effect on hover */
}


#avatar {
    width: 50px;  /* Adjust to suit */
    height: 50px; /* Adjust to suit */
    border-radius: 50%; /* Makes the avatar round. Remove if not needed. */
    cursor: pointer;
}


#tooltip {
    position: absolute;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 6px;
    bottom: 100%; /* Position it above the image */
    left: 50%;
    margin-left: -60px; /* Centers the tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

#avatar:hover + #tooltip {
    opacity: 1;
}
