<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wibe App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div id="landing-page">
        <h1>Wibe</h1>
        <!-- Login form -->
        <form id="login-form">
            <input type="text" id="username" class="form-input" placeholder="Username">
            <input type="password" id="password" class="form-input" placeholder="Password">
            <button id="login-submit">Login</button>
            <p>New here? <a href="javascript:void(0);" id="register-link">Register</a></p>
        </form>
        <!-- Registration form (hidden by default) -->
        <form id="registration-form" style="display: none;">
            <input type="text" id="register-username" class="form-input" placeholder="Username">
            <input type="password" id="register-password" class="form-input" placeholder="Password">
            <input type="email" id="register-email" class="form-input" placeholder="Email">
            <button id="register-submit">Register</button>
            <p>Already have an account? <a href="javascript:void(0);" id="login-link">Login</a></p>
        </form>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>
